<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between w-full">
    <h1 class="font-bold text-4xl"><%= @sensor.to_s %></h1>
    <%= link_to t('sensors.index.title'), sensors_path, class: 'rounded-md bg-teal-500 cursor-pointer px-3 py-2 hover:bg-teal-300 text-white' %>
  </div>

  <div class="mt-10">
    <%= turbo_stream_from @sensor %>

    <div class="grid grid-cols-6 w-full">
      <div class="col-span-4">Data</div>
      <div class="col-span-2">Valore</div>
    </div>
    <%= turbo_frame_tag :measurements, class: 'grid grid-cols-6 w-full' do %>
      <%= render @sensor.measurements.last_day %>
    <% end %>
  </div>
</div>
